/.idea
/subterfuge-backend.iml
/sandbox/authenticate.html
/sandbox/newroom.html
/sandbox/register.html
/sandbox/room.html
/sandbox/login.php
/sandbox/new_room.php
/sandbox/register.php
/sandbox/test.php